body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auction-show{
  display:flex;
}
.leftside{
  flex:1;
}
.rightside{
  flex:1;
}

.NavBar {
  width: 100%;
  display: flex;

  background-color: teal;
  color: white;
}

.NavBar > *:first-child {
  margin-right: auto;
}

.NavBar > * {
  padding: 10px;
}

.NavBar a {
  color: inherit;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  transition: background-color 250ms 0s, color 250ms 0s;
}

.NavBar a.active {
  background-color: whitesmoke;
  color: teal;
}

.NavBar a:hover {
  background-color: slategrey;
  color: white;
}

/* .App {
  padding: 3em;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main.Page{
  padding: 3em;
}
